body {
    background: #000;
    color: #00eaff;
    font-family: Arial;
}

header {
    padding: 10px;
    font-size: 26px;
}

#blocks-panel, #sequence, #properties {
    border: 1px solid #00eaff;
    padding: 15px;
    width: 30%;
    float: left;
    height: 80vh;
    overflow-y: auto;
}

.block {
    background: #111;
    padding: 10px;
    margin: 8px 0;
    cursor: pointer;
    border-left: 4px solid #03e9f4;
}

.block:hover {
    background: #022;
}

input, textarea, select {
    width: 95%;
    padding: 5px;
    margin-top: 5px;
    background: #000;
    color: #0ff;
    border: 1px solid #0ff;
}








